<h1>Sign Up</h1>
<form action="/auth/signup" method="POST">
    <label>Username:
        <input placeholder="enter username" name="username" required>
    </label>
    <label>Email:
        <input placeholder="enter email" name="email" required>
    </label>
    <label>Password:
        <input placeholder="enter password" name="password" type="password">
    </label>
    <button type="submit">Sign Up</button>
</form>