<div class="app-name">
    <h1 class="app-logo index">P<span>ai</span>RED.io</h1>
    <p>Your AI coding syntax assistant - <br/>
     Create your own personal programming <br/>
     language syntax libraries</p>
</div>
<section id="team-members">
    <div class="clemens">
        <a href="www.linkedin.com/in/clemens-marckwardt-蔡子杰-b43452150"><h2>Clemens Mrckwardt</h2></a>
        <img src="" alt="a picture of clemens">
        <p class="about-us"></p>
    </div>
    <div class="gus">
        <a href="www.linkedin.com/in/august-colonna" target="blank"><h2>August Colonna</h2></a>
        <img src="" alt="">
        <p class="about-us"></p>
    </div>
</section>

