<h1>Here is your library Page</h1>
<form action="library-creation" method="POST">
    <label>Choose Language
        <select name="libname">
            <option>Javascript</option>
            <option>Python</option>
            <option>Go</option>
        </select>
    </label>
    <button type="submit">Create Library</button>
</form>
