
<div class="library-creation">
    <h1>Please select the language you want to study:</h1>
    <form action="library-creation" method="POST">
        <label>Language:
            <select name="libname">
                <option>Javascript</option>
                <option>Python</option>
                <option>Go</option>
            </select>
        </label>
        <button type="submit">Create Library</button>
    </form>
</div>
