<h1>This is you library</h1>
<h2><%- language.libname %></h2>
<form action="/profile/<%- id %>" method="POST">
   <label >Prompt:
    <input type="text" name="prompt">
   </label> 
    <button type="submit">Generate new Prompt </button>
</form>
