<div class="library-creation">
  <h1>Please select the language you want to study:</h1>
  <div class="library-select">
    <form action="library-creation" method="POST">
      <label
        >Language:
        <select name="libname">
          <option>Javascript</option>
          <option>Python</option>
          <option>Go</option>
          <option>C++</option>
          <option>React</option>
          <option>Java</option>
        </select>
      </label>
      <button type="submit">Create Library</button>
    </form>
  </div>
</div>
