@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
/*
color scheme:
night: #121714
Russian violet: #2D2357
Denim: #3560AC
Vivid blue sky: #24D2F9
Sunglow: #FDC835
*/

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #3560ac;
  color: white;
  margin: auto 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(40deg,#3560AC,#FDC835);
}

a {
  color: white;
  text-decoration: none;
}

.app-logo{
  margin-left: 20px;
  font-size: 2rem; 
}

.app-logo span {
  color: #FDC835;
}

.nav-bar ul {
  list-style: none;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 1.2rem;
  transition-timing-function: ease;
}

.nav-bar li {
  color: white;

}

.nav-bar li a:hover {
  color: #FDc835;
  text-transform: uppercase;
  transition-timing-function: ease-in;
  text-shadow: #FDC835 0 0 5px

}

.nav-bar { 
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: #2d2357BF;
background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
height: 60px;
margin-bottom: 40px;
}

/*button styling*/

/*input field*/
select, input {
  padding: 5px;
  border: none;
  background-color: #2d2357;
  border-radius: 5px;
  color: white;
}

/* home (index) page */

.app-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 60px 10px 60px;
  height: 500px;
  text-align: center;
}


.app-name p {
  font-size: 2rem;
  text-shadow: #FDC835 0 0 5px;
  line-height: 2.5rem;
  margin: 0 auto;
  background-color: #3435414F;
  border-radius: 100px;
  padding: 20px;
}

#team-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: first baseline;
  gap: 100px;
}

#team-members h2{
  font-size: 2rem;
  text-shadow: #FDC835 0 0 5px;
  line-height: 2.5rem;
}

.clemens {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.clemens-picture {
  border-radius: 50%;
  box-shadow: #12171480 0 0 15px;
  width: 200px;
}

.clemens p{
  text-align: center;
  width: 400px;

}

.gus{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.gus-picture {
  border-radius: 60%;
  box-shadow: #12171480 0 0 15px;
  width: 200px;
  height: 260px;
  
}

.gus p{ 
  text-align: center;
  width: 400px;
}

/* sign up page and login page*/
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin: 60px 60px;
  height: 700px;
  
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  text-align: center;
}

.sign-up-container h1 {
  font-size: 3rem;
  text-shadow: #FDC835 0 0 5px;
}

.login-container h1 {
  font-size: 3rem;
  text-shadow: #FDC835 0 0 5px;
}

.sign-up-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  border-radius: 100px;
  padding: 40px;
  background: linear-gradient(#3560ac80, #12171480);
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  border-radius: 100px;
  padding: 40px;
  background: linear-gradient(#3560ac80, #12171480);
}

.signup-form label {
  color: #FDC835;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
  text-shadow: #FDC835 0 0 3px;
}

.login-form label {
  color: #FDC835;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
  text-shadow: #FDC835 0 0 3px;
}

.sign-up-container input {
  width: 90%;
  height: 20px;
  background-color: #34354180;
}

.login-container input {
  width: 90%;
  height: 20px;
  background-color: #34354180;
}

.sign-up-container p {
  font-size: 1.2rem;
}

.sign-up-container span {
  color:#FDC835;
  text-shadow: #FDC835 0 0 3px;
}

.signup-btn {
  padding: 15px;
  border: none;
  background-color: #FFFFFFDE;
  border-radius: 40px;
  color: #121714;
  font-weight: 800;
  font-size: 1.2rem;
  transition: transform .5s;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn {
  padding: 15px;
  border: none;
  background-color: #FFFFFFB3;
  border-radius: 40px;
  color: #121714;
  font-weight: 800;
  font-size: 1.2rem;
  transition: transform .5s;
  cursor: pointer;
  margin-bottom: 20px;
}

.signup-btn:hover {
  cursor: pointer;
  background-color: #2d235780;
  color: white;
  text-shadow: #3560AC 0 0 5px;
  transform: scale(.9);
}

.login-btn:hover {
  cursor: pointer;
  background-color: #2d235780;
  color: white;
  text-shadow: #3560AC 0 0 5px;
  transform: scale(.9);
}

/* Profile and library styling */


#profile-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  gap: 40px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.profile-heading {
  background: linear-gradient(#3560ac40, #12171440);
  border-radius: 100px;
  padding: 40px;
}


.profile-btn {
  padding: 15px;
  margin-left: 50px;
  border: none;
  background-color: #FFFFFFB3;
  border-radius: 40px;
  font-weight: 800;
  font-size: 1.2rem;
  transition: transform .5s;
  cursor: pointer;
  width: 20%;

}

.profile-btn a {
  color: #121714;
}

.profile-btn:hover {
  cursor: pointer;
  background-color: #2d235780;
  color: white;
  transform: scale(.9);
}

.profile-btn:hover a {
  color: white; 
}

.library-list {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  gap: 30px;
}

.library-list a {
  font-size: 1.5rem;
  font-weight: 500;
}

.library-container:hover{
  cursor: pointer;
  background-color: #3560AC80;
  color: white;
  text-shadow: #FDC835 0 0 5px;
  transform: scale(1.1);
  border-radius: 20px;
  transition: transform .5s; ;
}

.library-container {
  height: 110px;
  width: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #12171480;
  
}

.library-creation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.library-select {
  width: 75%;
}

.library-select form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background: linear-gradient(#3560ac40, #12171440);
  padding: 30px;
  border-radius: 100px;
  gap: 20px;
}

.library-select button {
  padding: 10px;
  border: none;
  background-color: #FFFFFFB3;
  border-radius: 5px;
  font-weight: 800;
  font-size: 1.2rem;
  transition: transform .5s;
  cursor: pointer;
  margin-bottom: 20px;
  width: 20%;
}
.library-select button:hover{
  cursor: pointer;
  background-color: #2d2357B3;
  color: white;
  text-shadow: #FDC835 0 0 5px;
  transform: scale(.9);
}

.library-creation h1 {
  width: 70%;
  text-align: center;
  text-shadow: #FDC835 0 0 5px;
  font-size: 2.5rem;
}

.library-creation label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: #FDC835 0 0 5px;
}

.library-select select {
  font-size: 1.3rem;
  width: 100%;
  background-color: #2d235780;
  color: white
}

.library-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #12171480;
  
}

.library-top h1 {
  width: 50%;
}

.library-top button {
  padding: 15px;
  border: none;
  background-color: #FFFFFFB3;
  border-radius: 40px;
  font-weight: 800;
  font-size: 1.2rem;
  transition: transform .5s;
  cursor: pointer;
  width: 30%;
  
}

.library-top button:hover{
  cursor: pointer;
  background-color: #2d2357B3;
  color: white;
  text-shadow: #FDC835 0 0 5px;
  transform: scale(.9);
}

.library-prompts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.library-prompts label {
  font-size: 1.5rem;
  width: 50%;
  text-shadow: #FDC835 0 0 5px;
}

.library-prompts input {
  width: 50%;
  background-color: white;
}

.singleSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  gap: 100px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

pre {
  display: flex;
  justify-content: flex-start;
  background-color: #000000;
  margin: 0% !important;
  border-radius: 0px 0px 15px 15px;  
}

pre > p {
  margin-left: 10px;
  text-align: start !important;
  margin-top: 0px;
}

.titlePrompt {
  background-color: #343541 !important;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 15px 15px 0px 0px;
  text-transform: capitalize;
  font-size: 1.3rem;
}
.titlePrompt > h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}

.all-prompts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.codePart {
  width: 80%;
}

.updatePart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.updatePart form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.update label {
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: #FDC835 0 0 5px;
  
}

.update input {
  background-color: white;
  width: 90%;
  
}

.updatePart button {
  padding: 15px;
  border: none;
  background-color: #FFFFFFDE;
  border-radius: 5px;
  font-weight: 800;
  font-size: 1.2rem;
  transition: transform .5s;
  cursor: pointer;
  width: 70%;
}

.updatePart button:hover{
  cursor: pointer;
  background-color: #2d2357;
  color: white;
  text-shadow: #FDC835 0 0 5px;
  transform: scale(1.1);
}

.slider-thumb::before {
	position: absolute;
	content: "";
	left: 10%;
	top: 10%;
	width: 450px;
	height: 850px;
	background: #3560AC80;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}

.slider-thumb2::before {
	position: absolute;
	content: "";
	left: 60%;
	top: 40%;
	width: 550px;
	height: 650px;
	background: #44107a80;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}

.slider-thumb3::before {
	position: absolute;
	content: "";
	left: 50%;
	top: 20%;
	width: 750px;
	height: 450px;
	background: #FDC83580;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

.animate-charcter
{

  background-image: linear-gradient(
    -225deg,
    #2d2357 7% ,
    #44107a 29%,
    #3560AC 67%,
    #FDC835 80%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  display: inline-block;
  font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.logout-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  font-size: 2.5rem;
}


